[submodule "pelican-themes/pure"]
	path = pelican-themes/pure
	url = https://github.com/PurePelicanTheme/pure.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
